<div id="warning" style="position: relative; width: 85vw; height: 85vh; margin: 0 auto;">
    <a>
        <img src="/static/warning.png"
        id="warningScreen"
        class="d-block mx-auto img-fluid "
        alt="Responsive image"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: contain;">

        <img src="/static/warningA.png"
        id="warningContinue"
        class="d-block mx-auto img-fluid"
        alt="Responsive image"
        style="position: absolute; top: 50vh; left: 0; width: 100%; height: 100%; object-fit: contain; z-index: 1;">
    </a>
</div>